@model MyTask.Models.User

<body>
    <div class="user">
 <h4>Register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" id="frmRegister" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"  class="control-label"></label>
                    <input asp-for="UserName"  class="form-control" />
                    <span asp-validation-for="UserName" class="form-text validation">Must be at least 6 characters long</span>
                
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password"  class="form-control" />
                <span asp-validation-for="Password" class="form-text validation"> Must be at least 6 characters long</span>
            </div>
           
            <div class="form-group">
                    <button type="submit" onclick="return validate();" class="button"> Register</button>
                   
                    
            </div>
                    <a asp-controller="Login" asp-action="Index" class="button">Cancel</a>
        </form>
    </div>
</div>



    <script src="D:\courses\4th grade\Website Design\MyTask\MyTask\wwwroot\js\site.js"> </script>
    </div>
</body>