@model MyTask.Models.User

<body>
   <div class="user"> 
<h4>Login</h4>
<hr />
<div class="row ">
    <div class="col-md-4">
        <form asp-action="Index" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control login" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control login" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="button" />
            </div>
                    <p style="font-size:small;">Don't Have An Account?</p>
            <a onclick="return redirectToAnotherAction();" class="button">Register</a>
           
        </form>
       
    </div>
</div>
    </div>
</body>


